# Process Data for seeding

- Source: [Kaggle Flipkart Products](https://www.kaggle.com/datasets/PromptCloudHQ/flipkart-products)

In [ ]:
import pandas as pd
import numpy as np
from pprint import pprint
import random

In [1]:
df = pd.read_csv("Flipkart_Mobiles.csv")
df = df.dropna()
# df = df.sample(400,random_state=1)
print(df.shape)
df.head(1)

NameError: name 'pd' is not defined

In [87]:
# Create a list of dictionaries
mobile_result = []
attributes = ["Color", "Memory", "Storage"]
for _, row in df.iterrows():
    data_dict = {
        "title": row["Brand"] + " " + row["Model"],
        "price": row["Selling Price"],
        "category": "Mobile",
        "brand": row["Brand"],
        "description": "",
        "rating": row["Rating"],  # random.choice([2,2.5,3,3.5,4,4.5,5])
        "attributes": [],
    }
    for col in attributes:
        data_dict["attributes"].append(
            {
                "name": col,
                "value": row[col],
            }
        )
    mobile_result.append(data_dict)

pprint(mobile_result[0])

{'attributes': [{'name': 'Color', 'value': 'Moonlight Black'},
                {'name': 'Memory', 'value': '4 GB'},
                {'name': 'Storage', 'value': '64 GB'}],
 'brand': 'OPPO',
 'category': 'Mobile',
 'description': '',
 'price': 11990,
 'rating': 4.5,
 'title': 'OPPO A53'}

In [88]:
df = pd.read_csv("fashion_products.csv")
print(df.shape)
df.head(1)

(1000, 9)

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
0,19,1,Dress,Adidas,Men's Fashion,40,1.043159,Black,XL

In [89]:
# Create a list of dictionaries
fashion_result = []
attributes = ["Color", "Size"]

for _, row in df.iterrows():
    data_dict = {
        "title": row["Brand"] + " " + row["Product Name"],
        "price": row["Price"],
        "category": row["Category"],
        "brand": row["Brand"],
        "description": "",
        "rating": row["Rating"],  # random.choice([2,2.5,3,3.5,4,4.5,5])
        "attributes": [],
    }
    for col in attributes:
        data_dict["attributes"].append(
            {
                "name": col,
                "value": row[col],
            }
        )
    fashion_result.append(data_dict)
pprint(fashion_result[0])

{'attributes': [{'name': 'Color', 'value': 'Black'},
                {'name': 'Size', 'value': 'XL'}],
 'brand': 'Adidas',
 'category': "Men's Fashion",
 'description': '',
 'price': 40,
 'rating': 1.0431592108361825,
 'title': 'Adidas Dress'}

In [109]:
# Create a new DataFrame from the list of dictionaries
new_df = pd.concat(
    [
        pd.DataFrame(mobile_result),
        pd.DataFrame(fashion_result),
    ]
)
new_df = new_df.sample(300, random_state=100)
display(new_df)
new_df.to_json("data.json", orient="records")

,title,price,category,brand,description,rating,attributes
1726,SAMSUNG Tizen Z3,6990,Mobile,SAMSUNG,,3.300000,"[{'name': 'Color', 'value': 'Gold'}, {'name': ..."
439,Zara Dress,83,Women's Fashion,Zara,,4.720335,"[{'name': 'Color', 'value': 'White'}, {'name':..."
779,GIONEE F205 Pro,6990,Mobile,GIONEE,,4.100000,"[{'name': 'Color', 'value': 'Blue'}, {'name': ..."
366,LG Q7,16996,Mobile,LG,,3.300000,"[{'name': 'Color', 'value': 'Lavender Violet'}..."
1048,Apple iPhone 12,63999,Mobile,Apple,,4.600000,"[{'name': 'Color', 'value': 'White'}, {'name':..."
...,...,...,...,...,...,...,...
1993,Lenovo S930,13604,Mobile,Lenovo,,4.300000,"[{'name': 'Color', 'value': 'Silver'}, {'name'..."
385,Adidas Dress,17,Women's Fashion,Adidas,,3.578354,"[{'name': 'Color', 'value': 'Yellow'}, {'name'..."
29,OPPO A54,15990,Mobile,OPPO,,4.300000,"[{'name': 'Color', 'value': 'Starry Blue'}, {'..."
2588,vivo X50,44990,Mobile,vivo,,5.000000,"[{'name': 'Color', 'value': 'Frost Blue'}, {'n..."
543,Nike T-shirt,77,Women's Fashion,Nike,,3.556866,"[{'name': 'Color', 'value': 'Red'}, {'name': '..."

In [110]:
key = "brand"
new_df[key].unique(), len(new_df[key].unique())

(array(['SAMSUNG', 'Zara', 'GIONEE', 'LG', 'Apple', 'vivo', 'Xiaomi',
        'Adidas', 'H&M', 'Motorola', 'OPPO', 'ASUS', 'Nokia', 'realme',
        'Gucci', 'HTC', 'Lenovo', 'Infinix', 'Nike', 'Google Pixel',
        'POCO'], dtype=object),
 21)